@import "tailwindcss";

.bg {
  background-color: #2a004a;
}

.lightHover:hover {
  background-color: #fcf4ff;
}

.darkHover:hover {
  background-color: #00353D;
}

.darkBg {
  background-color: #00353D;
}

.darkTheme {
  background-color: #1A1D23;
}

.black:hover {
  box-shadow: 4px 4px 0 #000;
}

.white:hover {
  box-shadow: 4px 4px 0 #fff;
}

.auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

* {
  font-family: var(--font-outfit);
}

.ovo {
  --font-ovo: 'Ovo'; /* Define the variable that Tailwind expects */
}

/* Next.js gives the Outfit font the class name ".outfit" */
.outfit {
  --font-outfit: 'Outfit'; /* Define the variable that Tailwind expects */
}