@import "tailwindcss";

* {
  font-family: var(--font-outfit);
}

.ovo {
  --font-ovo: 'Ovo'; /* Define the variable that Tailwind expects */
}

/* Next.js gives the Outfit font the class name ".outfit" */
.outfit {
  --font-outfit: 'Outfit'; /* Define the variable that Tailwind expects */
}